@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
   Sydney, Australia
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kelvinnguyen2310@yahoo.com.au">kelvinnguyen2310@yahoo.com.au</a><br />    
</address>
